
#home-carrousel .carrousel .overlay{
  @apply absolute w-full h-full;
  background: linear-gradient(180deg, rgba(116, 13, 129, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
}

#home-carrousel .overlay-content{
  @apply absolute w-full flex;
  height: calc(100% - 40px);
  justify-content: left;
  align-items: center;
  padding: 20px;
  z-index: 1;
  pointer-events: all;
}